.bottom-nav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.bottom-nav a {
  float: left;
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.bottom-nav a:hover {
  color: brown;
}


.bottom-nav a.active {
  background-color: yellow;
  color: brown;
}

.bottom-nav a img {
  width: 30px;
  height: 30px;
}

iframe {
  width: 1000px;
  height: 1000px;
}

body {
  background-image: url("original.jpg");
}

.bottom-nav #time {
  position: absolute;
  right: 0;
  bottom: 0;
  float: right;
}